/* zenith-sidebar.css */

/* ROOT */
/* .zn-sidebar {
  width: 280px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e9ecef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  font-family: "Inter", sans-serif;
    overflow: hidden
} */
/* .zn-sidebar {
  width: 280px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e9ecef;

  display: flex;
  flex-direction: column;

  overflow: hidden; 
  font-family: "Inter", sans-serif;
} */
 .zn-sidebar {
  width: 280px;
  min-width: 280px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #e9ecef;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  font-family: "Inter", sans-serif;
}
.zn-sidebar__scroll {
  flex: 1;
  overflow-y: auto;

  padding-bottom: 20px;
}

/* LOGO */
.zn-sidebar__logo {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 14px;

  padding: 18px 15px;
  border-bottom: 1px solid #f1f1f1;

  background: #fff;
  z-index: 10;
}


.zn-sidebar__logo-icon {
  width: 42px;
  height: 42px;
  background: #111111;
  color: #ffffff;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.zn-sidebar__title {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #111827;
}

.zn-sidebar__subtitle {
  font-size: 11px;
  letter-spacing: 1px;
  color: #9ca3af;
}

/* SECTION */
.zn-sidebar__section {
  padding: 5px 10px 0;
}

.zn-sidebar__section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b1b5c3;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 14px;
  padding: 0 10px;
}

/* MENU */
.zn-sidebar__menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.zn-sidebar__item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 10px 10px;
  border-radius: 14px;
  color: #4b5563;
  cursor: pointer;
  transition: all 0.25s ease;
  margin-bottom: 6px;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.zn-sidebar__subitem {
  display: block;
  padding: 10px 15px 10px 45px;
  color:darkslategrey;
  text-decoration: none;
  font-size: 14px;
}

.zn-sidebar__subitem:hover {
  background: rgba(255, 255, 255, 0.05);
}

.zn-sidebar__subitem.active {
  color: black;
  font-weight: 600;
}
.zn-sidebar__item svg {
  font-size: 14px;
}

.zn-sidebar__item:hover {
  background: #f7f7f8;
}

.zn-sidebar__item--active {
  background: #f3f4f6;
  color: #111827;
  font-weight: 600;
}

/* BADGE */
.zn-sidebar__badge {
  margin-left: auto;
  background: #e5e7eb;
  color: #111827;
  min-width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
}

/* FOOTER */
.zn-sidebar__footer {
  /* border-top: 1px solid #f1f1f1;
  padding: 18px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between; */
   flex-shrink: 0;

  border-top: 1px solid #f1f1f1;
  padding: 18px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
}

.zn-sidebar__user {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  text-decoration: none;
}

.zn-sidebar__avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #111111;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.zn-sidebar__user h5 {
  margin: 0;
  font-size: 14px;
  color: #111827;
}

.zn-sidebar__user span {
  color: #9ca3af;
  font-size: 14px;
}

.zn-sidebar__logout {
  border: none;
  background: transparent;
  color: #6b7280;
  font-size: 20px;
  cursor: pointer;
}